* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
img {
  width: 400px;
}

h1 {
  font-weight: 800;
  font-size: 80px;
  color: rgb(71, 85, 105);
  margin-bottom: 20px;
}

p {
  color: rgb(30, 41, 59);
}

.page {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 10px;
}

.this {
  font-size: 20px;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  border-radius: 30px;
  border-style: groove;
  color: rgb(37, 149, 242);
  background-color: white;
  font-size: larger;
  border: 1px solid rgb(37, 149, 242);
}

section {
  margin-left: 200px;
}

img {
  animation: MoveUpDown 2s ease-in-out infinite alternate-reverse both;
}

@keyframes MoveUpDown {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@media only screen and (max-width: 375px) {
  .container {
    flex-direction: column;
  }
  section {
    margin-left: 0;
  }
  p {
    text-align: center;
  }
  h1 {
    text-align: center;
  }
  button {
    position: absolute;
    left: 30%;
  }
  img {
    width: 300px;
  }
}

@media only screen and (max-width: 743px) {
  .container {
    flex-direction: column;
  }
  section {
    margin-left: 0;
  }
  p {
    text-align: center;
  }
  h1 {
    text-align: center;
  }
  button {
    position: absolute;
    left: 40%;
  }
  img {
    width: 300px;
  }
}

@media only screen and (max-width: 379px) {
  .container {
    flex-direction: column;
  }
  section {
    margin-left: 0;
  }
  p {
    text-align: center;
  }
  h1 {
    text-align: center;
  }
  button {
    position: absolute;
    left: 25%;
  }
  img {
    width: 300px;
  }
}

@media only screen and (max-width: 545px) {
  .container {
    flex-direction: column;
  }
  section {
    margin-left: 0;
  }
  p {
    text-align: center;
  }
  h1 {
    text-align: center;
  }
  button {
    position: absolute;
    left: 35%;
  }
  img {
    width: 300px;
  }
}
